@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Ensure the container is properly constrained */
.carousel-container {
    position: relative;
    overflow: hidden; /* Hide anything that overflows */
    width: 80%; /* Full width of the parent */
  }
  
  /* Ensure that the carousel does not overflow horizontally */
  .slick-slider {
    overflow: hidden; /* Prevent horizontal scrolling */
  }
  
  .slick-track {
    display: flex; /* Align slides horizontally */

  }
  
  .slick-slide {
    display: flex; /* Ensure slides are contained */
    justify-content: center; /* Center slides within the container */
    margin: 0 10px;
    width: 400px;

  }
  
  /* Optional: Adjust the arrow buttons */
  .slick-prev, .slick-next {
    z-index: 10; /* Make sure they are above other elements */
  }

  .card-image {
    height: auto;
    width: auto;
  }
  
  .carousel-container .slick-slide {
    display: flex;
    justify-content: center;
  }

  .card-slide img {
    outline: none;
    border: none;
  }
  
  .card-slide:focus {
    outline: none;
  }
  
  .link-no-style {
    text-decoration: none;
    color: inherit;
  }


  .custom-scrollbar {
  /* Hide scrollbar for WebKit browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0; /* Chrome, Safari, and Opera */
  height: 0;
}


@supports (-webkit-touch-callout: none) {
  .min-h-screen {
    min-height: 100dvh; /* Use 100dvh directly if the browser supports it */
  }

  /* Ensure smooth scrolling within containers */
  .overflow-y-scroll {
    -webkit-overflow-scrolling: touch;
  }
}

/* Target the overscroll areas on mobile */
html, body {
  overscroll-behavior: contain;
  background-color: white;
}

.PersonalDetails {
  background-color: white;
  /* Ensure the scrollable area stays within this container */
  overflow-y: auto;
}

.PersonalDetails .scroll-container {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
  background-color: white;
}
